body {
    background-color: #494949;
}


.hr {
    
}


.SliderWrap {
    width: 960px;
    height: 299px;

    white-space: nowrap;
    overflow: hidden;
  
}

.padding {
    padding: 20px;
}
table {
      margin-top: 70px;
     
}

.marginright {
    margin-right: 100px;
}

nav{
    background-color: #fcaf3d;
    margin:0px !important;
}
li{
    margin-left:75px;
    display:inline;
}
ul{
    margin: 0px 0px 0px 195px;   
}
a, a:hover, a:after, a:active{
    color:black;
    text-decoration:none;
}


.h4forside{
    color:#fcaf3d;
    margin:0 !important;
}
.pforside{
    margin:0 !important;
    color:white;
    font-size:13px;
}
.produkt{
    border:1px solid #ff6a00;
    background-color:#1d1d1d;
    height:250px;
}


h4 {
    font-family: Verdana;
    color: #fbb03b; 
}

.bgprodukter {
    background-color: black; 
    color: white; 
}


nav {
    background-color: #e0d4be;
    height: 75px;

}

ul {
   list-style-type: none;
}

li {
     

}


.bg {
    background-color: white;
    min-height: 400px;
}

.tekst { 
    margin-left: 50px;
    color: #736e68;
    font-family: Verdana;
}


.bgcopy {
    background-color: #e0d4be;
}