
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
<div class="row">
    <div class="small-12 columns background">
        <h2>Index</h2>
    </div>
</div>

