
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
<div class="row">
    <div class="small-12 columns background">
        <h2>NikonXpertens Administrations system!</h2>
        <p>Her kan du tilføje / slette og redigere det indhold på siden som der er brug for.</p>
        <p>Du kan kontakte din webmaster hvis der forekommer nogle problemer eller ringe til os på 88 88 88 88</p>
    </div>
</div>

