
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedLayout/_LayoutPage1.cshtml";
}
<div class="row">
    <div class="twelve columns ">
        <div class="SliderWrap">

            <div id="pusher">


                <img src="~/Content/IMAGE/Banner01.jpg" />
                <img src="~/Content/IMAGE/Banner02.jpg" />
                <img src="~/Content/IMAGE/Banner03.jpg" />
                <img src="~/Content/IMAGE/Banner01.jpg" />


            </div>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns ">
            <table>
                <tr>
                    <td class="marginright">
                        <img src="~/Content/IMAGE/nikon_d300_1.jpg" class="u-max-full-width" />
                    </td>
                    <td>

                        <img src="~/Content/IMAGE/objektiv.png" />
                    </td>
                    <td>
                        <img src="~/Content/IMAGE/untitled.png" class="u-max-full-width" />
                    </td>
                    <td>
                        <img src="~/Content/IMAGE/untitled3.png" class="u-max-full-width" />
                    </td>
                </tr>
                <tr>
                    <td class="bgprodukter"><h4>DSLR Kamera</h4></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>

</div>
