
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedLayout/_LayoutPage1.cshtml";
}
<div class="row">
    <div class="twelve columns ">
        <div class="SliderWrap">

            <div id="pusher">


                <img src="~/Content/IMAGE/Banner01.jpg" />
                <img src="~/Content/IMAGE/Banner02.jpg" />
                <img src="~/Content/IMAGE/Banner03.jpg" />
                <img src="~/Content/IMAGE/Banner01.jpg" />


            </div>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns ">
            <div class="twelve columns row">
                <img class="u-max-full-width" src="~/images/Banner01.jpg" />
            </div>
            <div class="twelve columns row produktvisning">
                <div class="three columns produkt">
                    <img class="u-max-full-width" src="~/images/D3200.jpg" />
                    <h4 class="h4forside">DSLR Kamera</h4>
                    <p class="pforside">I denne produktkategori finder du de nyeste Nikon dslr kameraer</p>
                </div>
                <div class="three columns produkt">
                    <img class="u-max-full-width" src="~/images/Manfrotto701.jpg" />
                    <h4 class="h4forside">Stativer</h4>
                    <p class="pforside">Handler kun med pisse gode stativer!</p>
                </div>
                <div class="three columns produkt">

                    <img class="u-max-full-width" src="~/images/CoolPixS800C.jpg" />
                    <h4 class="h4forside">Digital</h4>
                    <p class="pforside">Mega fede lorte kameraer vi har tjil dig min ven</p>
                </div>
                <div class="three columns produkt">
                    <img class="u-max-full-width" src="~/images/SP24-70.jpg" />
                    <h4 class="h4forside">Objektiver</h4>
                    <p class="pforside">Objektiver lavet af polske SuckashietBrushka</p>
                </div>
            </div>
        </div>
    </div>

</div>
