
@{
    ViewBag.Title = "OmOs";
    Layout = "~/Views/SharedLayout/_LayoutPage1.cshtml";
}

<div class="row">
    <div class="twelve columns ">
        <h2>NIKON Experten</h2>
    </div>
</div>
<div class="row">
    <div class="six columns padding">
        <p>
            NIKON experten er en virksomhed beskæftiget indenfor salg af
            foto, video og digitale produkter. Virksomhedens
            produktsortiment omfatter foruden kameraer og videokameraer
            også beslægtede produkter såvel analoge som digitale samt
            et stort tilbehørssortiment. NIKON experten har været at finde
            på internettet siden februar 1998.
        </p>
        <p>
            Bag NIKON experten står et lille men seriøst team, hvor alle har
            mange år bag sig i branchen. Vi prøver på at holde
            omkostningerne helt i bund for at kunne tilbyde dig produkterne
            til en fornuftig pris. Vi har eksisteret på internettet siden februar
            2014 og du vil hurtigt erfare, at der er penge at spare når du
            handler med os.
        </p>
        <p>
            Vi er et registreret anpartsselskab med salg og forsendelse
            beliggende i Grenaa. Vores adresse er NIKON experten,
            Storegade 67, 8500 Grenaa. Åbningstiden i Grenaa er
            10.00 - 19.00 alle hverdage. Lørdag 10.00 - 17.00 og første
            samt sidste søndag i måneden 10.00 - 16.00. Telefonen er åben
            i tidsrummet mandag til fredag 10.00 - 16.00 - tlf. +45 87582200.
        </p>
    </div>
    <div class="six columns">
        <img src="~/Content/Images/Butik.jpg" />
    </div>
</div>

